# Python
.myenv
__pycache__/
*.py[cod]
.env

# IDE
.vscode/
.trae/
.qwen/
.claude/

# 打包输出目录 / 产物
dist/
build/
releases/
installer/
*.egg-info/
pip-wheel-metadata/
*.whl
*.tar.gz
3rd_party/triangle/build/

# 临时文件
temp*
out/
meshes
backup*
mesh/

# 测试输出
test_outputs/
ref

# 神经网络模型和数据
neural/model
neural/DRL_Smoothing/agent/
neural/sample_grids
neural/GNN_ALM/sample_grids/training/naca4digits/
neural/GNN_ALM/model
neural/GNN_ALM/sample_grids/validation

# Python 测试/缓存
.pytest_cache/

