include LICENSE.txt
include VERSION
include README.md
include README_zh.md
include README_PACKAGING.md
include PyMeshGen.spec
include PyMeshGen.iss
include build.bat
include build_app.py
graft config
graft docs
graft 3rd_party/meshio/src
graft 3rd_party/triangle
include 3rd_party/meshio/LICENSE.txt
prune 3rd_party/meshio/.github
prune 3rd_party/meshio/doc
prune 3rd_party/meshio/logo
prune 3rd_party/meshio/tests
prune 3rd_party/meshio/tools
prune unittests
prune backup
prune build
prune dist
prune out
prune temp_docs
global-exclude __pycache__
global-exclude *.py[cod]
